{% extends "masterempty.html.twig" %}

{% block title %}BestBid{% endblock %}
{% block head %}
    <style>
        .baner{
            float: right;
            margin: 0 0 10px 10px;
        }
        .gradient {
            background: red; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(red, black); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(red, black); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(red, black); /* For Firefox 3.6 to 15 */
            background: linear-gradient(red, black); /* Standard syntax (must be last) */
        }
        #userContents div {
            border-radius: 5px;
            margin-right: 1em;
        }
        #divItemsForSale, #divItemsForPurchase, #divItemsBid, #divUsers, #divMainCategory, #divCategory {
            padding: .5em;
            margin: .5em;
        }
        #divItemsForSale th, #divItemsForPurchase th, #divItemsBid  th, #divUsers th, #divMainCategory th, #divCategory th {
            padding: .5em;
            color: #D4D9DD;
        }
        #divItemsForSale td, #divItemsForPurchase td, #divItemsBid  td, #divUsers td, #divMainCategory td, #divCategory td {
            padding: .5em;
            color: #D4D9DD;
        }
    </style>
{% endblock %}
{% block menu %}                      

    {% for mList in mainCategoryList %}
        <li  class="dropdown" id="mainu_{{mList.ID}}">

            <a href="#" class="dropbtn" id="main_{{mList.ID}}">{{mList.name}}</a>
        </li>
    {% endfor %}

{% endblock %}
{% block nav %}

{% endblock%}

{% block content %}

    <h1>Welcome to admin page</h1><br>

    <div id="userContents">
    <a href="/report.php"> Open report in pdf format </a>
        <h1><a href="/itemsforsell">Add item to sell</a>
            <form method="post" action="/addcredit">
                <input type="number" name="creditAmount">
                <input type="hidden" name="userID" value="{{sessionUser.ID}}">
                <input class="button-big" type="submit" value="Add credit">
            </form>
        </h1>
        <div id="divUsers" class="gradient"><u>Users</u>&nbsp;&nbsp;&nbsp;<a href="/adduser"><img src="/images/Add.png" width="35"></a>
            <table>
                <tr><th>ID</th><th>Name</th><th>email</th><th>Operation</th></tr>
                        {% if userList %}
                            {% for user in userList %}
                        <tr><td>{{user.itemID}}</td><td>{{user.username}}</td><td>{{user.email}}</td>
                            <td><a href="/edit/{{user.ID}}"><img src="/images/edit.png" width="25"></a> or <a href="/delete/{{user.ID}}"><img src="/images/delete.png" width="25"></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3" align="center">No items to show</td></tr>
                {% endif %}
            </table>
        </div>

        <div id="divMainCategory" class="gradient"><u>Main category</u>&nbsp;&nbsp;&nbsp;<a href="/addmaincategory"><img src="/images/Add.png" width="35"></a>
            <table>
                <tr><th>ID</th><th>Name</th><th>Operation</th></tr>
                        {% if mainCategoryList %}
                            {% for mainCategory in mainCategoryList %}
                        <tr><td>{{mainCategory.ID}}</td><td>{{mainCategory.name}}</td>
                            <td><a href="/edit/{{mainCategory.ID}}"><img src="/images/edit.png" width="25"></a> or <a href="/delete/{{mainCategory.ID}}"><img src="/images/delete.png" width="25"></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3" align="center">No items to show</td></tr>
                {% endif %}
            </table>
        </div>

        <div id="divCategory" class="gradient"><u>Category</u>&nbsp;&nbsp;&nbsp;<a href="/addcategory"><img src="/images/Add.png" width="35"></a>
            <table>
                <tr><th>Main category</th><th>Name</th><th>Operation</th></tr>
                        {% if categoryList %}
                            {% for category in categoryList %}
                        <tr><td>{{category.maincategory}}</td><td>{{category.name}}</td>
                            <td><a href="/edit/{{category.ID}}"><img src="/images/edit.png" width="25"></a> or <a href="/delete/{{category.ID}}"><img src="/images/delete.png" width="25"></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3" align="center">No items to show</td></tr>
                {% endif %}
            </table>
        </div>
            
        <div id="divItemsForSale" class="gradient"><u>Items to sell</u>
            <table>
                <tr><th>Name</th><th>Min bid</th><th>Last chance</th><th>Operation</th></tr>
                        {% if saleList %}
                            {% for sale in saleList %}
                        <tr>
                            <td>{{sale.name}}</td>
                            <td>{{sale.minimumBid}}</td>
                            <td>{{sale.bidEndTime}}</td>
                            <td><a href="/edit/{{sale.ID}}"><img src="/images/edit.png" width="25"></a> or <a href="/delete/{{sale.ID}}"><img src="/images/delete.png" width="25"></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3" align="center">No items to show</td></tr>
                {% endif %}
            </table>
        </div>
        <div id="divItemsForPurchase" class="gradient"><u>Items to purchase</u>
            <table>
                <tr><th>Item</th><th>Amount</th><th>Date of purchase</th><th>Operation</th></tr>
                        {% if purchaseList %}
                            {% for purchase in purchaseList %}
                        <tr><td>{{purchase.name}}</td><td>{{purchase.amount}}</td><td>{{purchase.day}}</td>
                            <td><a href="/edit/{{purchase.ID}}"><img src="/images/edit.png" width="25"></a> or <a href="/delete/{{purchase.ID}}"><img src="/images/delete.png" width="25"></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3" align="center">No items to show</td></tr>
                {% endif %}
            </table>
        </div>
        <div id="divItemsBid" class="gradient"><u>Bid items</u>
            <table>
                <tr><th>Item</th><th>Amount</th><th>Submit date</th><th>Operation</th></tr>
                        {% if bidList %}
                            {% for bid in bidList %}
                        <tr><td>{{bid.name}}</td><td>{{bid.amount}}</td><td>{{bid.day}}</td>
                            <td><a href="/edit/{{bid.ID}}"><img src="/images/edit.png" width="25"></a> or <a href="/delete/{{bid.ID}}"><img src="/images/delete.png" width="25"></a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="3" align="center">No items to show</td></tr>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}
