{% extends "master.html.twig" %}

{% block title %}BestBid{% endblock %}
{% block head %}
    <style>
        .baner{
           float: right;
           margin: 0 0 10px 10px;
        }
    </style>
{% endblock %}
{% block menu %}                      

    {% for mList in mainCategoryList %}
        <li  class="dropdown" id="mainu_{{mList.ID}}">

            <a href="#"  class="dropbtn" id="main_{{mList.ID}}"     >{{mList.name}}</a>
        </li>
    {% endfor %}

{% endblock %}
{% block nav %}

{% endblock%}

{% block content %}
     
   
    
    
    
    
    <h1>{{anticItem.name}}</h1>
    <p>{{anticItem.description}} 
    </p><br><br>
        {% if anticItem.ID %}
            <p><a href = "/viewsellitem/{{anticItem.ID}}">Submit a bid</a></p>
        {% else %}
            
        {% endif %}
    <p>Last bid:
        {% if maxBid %}
            {{maxBid.max}}
          
        {% else %}
            0 
        {% endif %}</p>
         <p>last chance: {{anticItem.bidEndTime}}</p>


    {% if sessionUser %}    {% else %}    {% endif %}

{% endblock %}
